<div class="battle">
<div class="hero-side">
    <img src="images/{{ hero.imgURL }}" alt="{{ hero.name }}">
    <span class="healthbar">{{ health hero }}</span>
</div>

<div class="enemy-side">
    <img src="images/{{ enemy.imgURL }}" alt="{{ enemy.name }}">
    <span class="healthbar">{{ health enemy }}</span>
</div>

<div>
<button class="attack-mode">Attack</button>
</div>
</div>


